-if liked_post_ids.include?(post.id)
  = button_to post_likes_path(post_id: post), class: 'text-decoration-none btn btn-link text-danger', method: :delete do
    %i.fa-solid.fa-heart
- else
  = button_to post_likes_path(post_id: post), class: 'text-decoration-none btn btn-link text-danger', method: :post do
    %i.fa-regular.fa-heart
